.h1 {
    text-align: center;
    color: rgb(42, 140, 165);
    padding: 20px;
    font-size: 28px;
}

.divBuscar {
    background-color: rgb(131, 198, 236);
    width: 74%;
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2a8ca5;
}

.input::placeholder {
    font-family: Karla, serif;
    padding: 5px;
}

.table-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    font-family: Karla, serif;
    background-color: #f0f8ff;
    box-shadow: 0 4px 8px rgb(42, 140, 165);
}

.th {
    background-color: rgb(42, 140, 165);
    color: white;
    padding: 12px 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
}

.td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ffffff;
    font-size: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.button1, .button2 {
    padding: 12px 18px;
    border-radius: 15px;
    border: none;
    font-family: Karla, serif;
    background-color: #B7DFFF;
    cursor: pointer;
    transition: 0.3s;
}

.button1:hover, .button2:hover {
    background-color: #92c9f0;
}

@media (max-width: 768px) {
    .divBuscar, .table {
        width: 95%;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }
}